<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Music HTML Web App</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Album Information</h1>
        <p class="t-title">Title: {{album.title}}</p>
        <p class="t-release_year">Released: {{album.release_year}}</p>
        <p>Information about the album</p>
        
    <!-- This is a link to another page. -->
    <!-- The browser will send `GET /books/new` when the user clicks this -->
        <a href="/albums">Back to all albums</a>
    </body>
</html>