<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Main</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Main Page</h1>

        <p>
            <a href="http://localhost:5000/about"> Visit our about page</a>
            <!-- the link will alway generate a GET request -->
        </p>
    </body>
</html>
<!-- 
To make the main page more interesting, we add a tag, 
rather than static page.  Change from this to above. 
    <body>
        <h1>Main Page</h1>
        <p>Visit our page at http://localhost:5000/about</p>
    </body>

    a stands for anchor
    href, is hypertext reference. 
    you could remove the server http://localhost:5000
    we could use place holders in this space as well. 
-->